
<div class="scrollmenu">
  <br>
  <br>      
  <table mat-table [dataSource]="dataSourceTable" class="table-size" >
    <ng-container *ngFor="let column of columns; let i = index" [matColumnDef]="column" class="make-gold">
      <div>
        <th mat-header-cell *matHeaderCellDef> {{ displayTitles[i] }} </th>
        <td mat-cell *matCellDef="let element"  
            [matTooltip]="element[column] != null && element[column].length > 20 ? element[column] : ''">
            {{element[column] | reducer:30}}
        </td>
      </div>
    </ng-container>
    <ng-container matColumnDef="edit" class="make-gold">
      <div>
        <th mat-header-cell *matHeaderCellDef></th>
        <td  mat-cell *matCellDef="let element" >
          <button mat-icon-button>
            <mat-icon (click)="editRow(element)" matTooltip="Editar">create</mat-icon>
          </button> 
        </td>
      </div>
    </ng-container>
  
    <ng-container matColumnDef="remove" class="make-gold">
      <div>
        <th mat-header-cell *matHeaderCellDef></th>
        <td  mat-cell *matCellDef="let element" >
          <button mat-icon-button>
            <mat-icon (click)="deleteRow(element)" matTooltip="Remove">delete</mat-icon>
          </button> 
        </td>
      </div>
      </ng-container>
  

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let dataSource; columns: displayedColumns;" (click)="selectedItem(dataSource)" 
    style="cursor: pointer;" [ngClass]="{'make-gold': (dataSource.id%2?1:2)==1}"
    
    ></tr>
   
  </table>
</div>