
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#FFC700; 
}

.prev-next {
    background-color: white;
    color: #FFC700;
    border: none;
    margin-right: 5px;
    cursor: pointer;
    margin-left: 4px;
}

.prev-next:hover {
    background-color: #e7e7e7;
}