.mat-dialog-title{
    color:black;
    font-weight: bold;
}

.mat-button{
    color:black;
    background: #FFC700;
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
