<div class="contenedor">
    <h2 mat-dialog-title>Editar Registro</h2>
    <mat-dialog-content class="mat-typography">
      <h3>Preguntas: </h3>
      <div>
          <li *ngFor="let questions of question">
              <textarea style="width: 800px" placeholder="Preguntas" (ngModel)="questions" >{{questions}}</textarea>
          </li>
      </div>
    </mat-dialog-content>

    <mat-dialog-content class="mat-typography">
      <h3>Respuestas: </h3>
      <div>
          <li *ngFor="let ans of answer">
            <textarea style="width: 800px" matInput placeholder="Respuestas" [(ngModel)]="ans">{{ ans }}</textarea> 
          </li> 
      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close >Cancel</button>
      <button mat-button [mat-dialog-close]="true" addTodo="question.questions">Guardar</button>
    </mat-dialog-actions>
</div>